.character-card {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  align-items: center;

  border-radius: 20px;
  overflow: hidden;
  background-color: rgb(60, 62, 68);
  transition: all 0.3s ease;
}

/* .character-card:hover {
  transform: scale(1.02);
} */

.character-card__img {
  /* background-size: cover; */
  object-position: center center;
  object-fit: cover;
  width: 100%;
}

.character-card__img-cover {
  display: flex;
  max-width: 400px;
  width: 100%;
}

.character-card-info {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  /* align-items: center; */
  padding: 20px;
  width: 100%;
}

.character-card__description {
  margin: 0 0 10px 0;
}

.character-card__title {
  font-size: 20px;
  font-weight: 900;
  color: #fff;
  transition: all 0.2s ease;
  cursor: pointer;
}

.character-card__title:hover {
  color: orange;
}
.character-card__location {
  font-size: 14px;
  font-weight: 400;
  color: #ccc;
}
.character-card__location-name {
  font-size: 20px;
  font-weight: 400;
  color: #fff;
}
